@import "tailwindcss";

:root {
  --color-primary: #1D9E75;
  --color-primary-dark: #085041;
  --color-bg: #0F1117;
  --color-surface: #1A1D27;
  --color-border: #2A2D3A;
  --color-text: #F0F0F0;
  --color-text-secondary: #9CA3AF;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
}
